@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #000300;
}

button:hover{
transform: scale(1.05);
cursor: pointer;
transition: all 0.2s ease;
}

li:hover{
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s ease;
}